p{
  margin: 10px;
}

#linkBack{
font-size: 10px;
}
#newsDisplay{
  font-size: 10px;
  font-family: sans-serif;
  padding-right: 20px;
  margin-left: 100px;
  margin-bottom: 10px;
  list-style-type: none;
}

img.expand{
width: 10em;
}

#quotesDisplay{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  margin: 10px;
}
