
p{
  margin: 12px;
}
#linkBack{
font-size: 10px;
}
#newsDisplay{
  margin: 20px;
  font-family: serif;
  font-size: 10px;
}
img.expand{
  width: 15em;
}

#quotesDisplay{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  margin: 10px;
}
