.addNew{
margin: 50px;
}
.select{
margin: 50px;
}
.container{
  text-align: center;
  margin: 30px;
}

.editContainer{
  text-align: center;
  margin: 30px;
}
input.ng-invalid.ng-dirty {
          background-color: #FA787E;
        }

input.ng-valid.ng-dirty {
          background-color: #78FA89;
        }
