<link rel="stylesheet" href="/styles/homeStyleSheet.css" media="screen" title="no title">
  <p>
    Where's my money?
  </p>

  <div id="quotesDisplay" ng-repeat="stocks in stockQuotes track by $index">
        {{stocks.symbol}}
        {{stocks.price}}
        {{stocks.change}}
  </div>

  <div class="Totals">
    <p>Total Invested : {{}}</p>
    <p> Total P/L : {{}}</p>
    <p>Total you owe : {{}}
  </div>

  <p> Checkout todays headlines from The Wall Street Journal: </p>


  <ul id="newsDisplay" class="flex-container"  ng-repeat="news in newsArticles">
    <li><img id="img" src="{{news.urlToImage}}" alt="" class="expand" /></li>
    <li id="listItem">{{news.title}} </li>
    <li id="listItem"><a ng-href="{{news.url}}">Link</a></li>
</ul>
