<link rel="stylesheet" href="/styles/homeStyleSheet.css" media="screen" title="no title">
  <p>
    Welcome to Where's my money
  </p>

  <div id="quotesDisplay" ng-repeat="stocks in stockQuotes">
        {{stocks.symbol}}
        {{stocks.price}}
        {{stocks.change}}
  </div>


  <div class="Totals">
    <p>Total Invested : {{}}</p>
    <p>Total you owe : {{}}
    <p> Total P/L : {{}}</p>
  </div>

  <p> Checkout todays business headlines:    </p>

  <div id="newsDisplay">
      <p ng-repeat="news in newsArticles">
          <img src="{{news.urlToImage}}" alt="" class="expand" /><br>
            {{news.title}}<br>
            {{news.author}}<br>
            <a ng-href="{{news.url}}">Link</a>
          </p>
           <a href="https://newsapi.org/"> News provided by NewsAPI.org</a>
  </div>
