<link rel="stylesheet" href="/styles/investmentsstyle.css" media="screen" title="no title">

  <div class="addNew">
    <button class="btn btn-sm btn-primary" ng-click="addNew()" type="button" name="button"> Add new Investment</button>
  </div>

  <div class="select">
    <button class="btn btn-sm btn-primary" ng-click="getInvest()" type="button" name="button"> Get Investments </button>
    <select ng-change="inv(selectedInv)" ng-model="selectedInv" ng-options="inv as inv.stocksymbol  for inv in allInvestments"></select>
  </div>

<!-- Edit Form  -->
<div class="editContainer" ng-hide="editForm">
  <form name="editInvForm" novalidate>
    <div ng-model="selectedInv" >
        Bank:  <input type="text" value="{{selectedInv.bank}}"required ng-readonly="true">
        Amount Invested: <input type="text" value="{{selectedInv.amountinvested}}" required><br>
        Stock Symbol:  <input type="text" value="{{selectedInv.stocksymbol}}" required ng-readonly="true">
        Profit/Loss: <input type="text" value="{{selectedInv.profitloss}}" required><br>
        Date Sold:   <input type="text" value="{{selectedInv.solddate}}" required><br>
      <button type="button" class="btn btn-sm btn-primary" ng-click="saveEditChanges()" name="button"> Save Changes</button>
    </div>
  </form>
</div>


<!-- Add New Form  -->
<div class="container" ng-hide="addNewForm">
  <form name="addNewForm" novalidate>
    <div ng-model="selectedInv" >
        Bank:  <input type="text" required  ng-model="invBank">
        Amount Invested: <input type="text"  required ng-model="invAmountInvested"><br>
        Stock Symbol:  <input type="text" required  ng-model="invStockSymbol">
        Profit/Loss: <input type="text"  required ng-model="invProfitLoss"><br>
        Date Bought:   <input type="text"  required ng-model="invBought"><br>
      <button type="button" class="btn btn-sm btn-primary" ng-click="saveNewInv()" name="button"> Save </button>
    </div>
  </form>
</div>
