<link rel="stylesheet" href="/styles/investmentsstyle.css" media="screen" title="no title">

  <div class="addNew">
    <button class="btn btn-sm btn-primary" ng-click="addNew()" type="button" name="button"> Add new Investment</button>
  </div>

  <div class="select">
    <button class="btn btn-sm btn-primary" ng-click="getInvest()" type="button" name="button"> Get Investments </button>
    <select ng-change="inv(selectedInv)" ng-model="selectedInv" ng-options="inv as inv.bank  for inv in allInvestments"></select>
  </div>


<div class="container" ng-show="form">
  <form name="editInvForm" novalidate>
    <div ng-model="selectedInv" >
        Bank:  <input type="text" value="{{selectedInv.bank}}"required ng-readonly="{{trueFalse}}" ng-model="invBank">
        Amount Invested: <input type="text" value="{{selectedInv.amountinvested}}" required ng-model="invAmountInvested"><br>
        Stock Symbol:  <input type="text" value="{{selectedInv.stocksymbol}}" required ng-readonly="{{trueFalse}}" ng-model="invStockSymbol">
        Profit/Loss: <input type="text" value="{{selectedInv.profitloss}}" required ng-model="invProfitLoss"><br>
        Date Sold:   <input type="text" value="{{selectedInv.solddate}}" required ng-model="invSoldDate"><br>
      <button type="button" class="btn btn-sm btn-primary" ng-click="saveChanges()" name="button"> Save Changes</button>
    </div>
  </form>
</div>
