<link rel="stylesheet" href="/styles/loanstylesheet.css" media="screen" title="no title">


  <div class="selectLoan">
    <button ng-click="addNewLoan()" type="button" name="button" class="btn btn-sm btn-primary"> Add new loan </button>
    <select ng-change="loan(selectedLoan)" ng-model="selectedLoan" ng-options="loan as loan.fromwho for loan in allLoans"></select>
    </select>
  </div>



  <div class="editLoan" ng-hide="editLoanForm">
      <form name="editLoanForm">
        <label for="singleSelect"> Please select from the menu: </label>
      </form>
  </div>


  <div class="newLoan" ng-hide="newLoanForm">
    <form name="newLoanForm">
    </form>
  </div>
