<link rel="stylesheet" href="/styles/loanstylesheet.css" media="screen" title="no title">


  <div class="selectLoan">
    <button ng-click="addNewLoan()" type="button" name="button" class="btn btn-sm btn-primary"> Add new loan </button>
    <select ng-change="loan(selectedLoan)" ng-model="selectedLoan" ng-options="loan as loan.fromwho for loan in allLoans"></select>
  </div>



  <div class="editcontainer" ng-hide="editLoanForm">
      <form name="editLoanForm" novalidate id="editLoanForm">
        <div ng-model="selectedLoan" >
              From :  <input type="text" value="{{selectedLoan.fromwho}}"required ng-readonly="true">
            <div>
              Amount : <input  type="text" value="{{selectedLoan.amount}}" required ng-readonly="true">
            </div>
              Intrest Rate :  <input type="text" value="{{selectedLoan.intrestrate}}" required ng-readonly="true"><br>
              Duration : <input type="text" name="name" value="{{selectedLoan.duration}}" required ng-readonly="true"><br>
            <div>
             Monthly Payment : <input type="text" value="{{selectedLoan.monthlypayment}}" ng-readonly="true" required> <br>
            </div>
            <div>
              <p>Notes : {{selectedLoan.notes}} || <input type="text" ng-model="newNotes" required placeholder="Add Notes here"> <br>
            </div>
              <button type="button" class="btn btn-sm btn-primary" ng-click="saveEditChanges()" name="button" ng-disabled="editLoanForm.$invalid"> Save Changes</button>
              <!-- <button type="button" class="btn btn-sm btn-primary" ng-click="DeleteInvest()" name="button"> Delete Investment</button> -->
        </div>
      </form>
  </div>


  <div class="newLoan" ng-hide="newLoanForm">
    <form name="newLoanForm">
    </form>
  </div>
