<link rel="stylesheet" href="/styles/loanstylesheet.css" media="screen" title="no title">



<div class="first">
  <button ng-click="addNewLoan()" type="button" name="button" class="btn btn-sm btn-primary"> Add new loan </button>
  <button class="btn btn-sm btn-primary" ng-click="getInvest()" type="button" name="button"> Get Loans </button>
  <form name="myForm">
    <label for="singleSelect"> Please select from the menu: </label><br>
      <select name="currentLoan" ng-model="currentLoan" ng-change="test(currentLoan)">
        <option ng-repeat="loan in allLoans track by loan.user_id" value="{{loan.user_id}}">
          You owe this place, this much.
         </option>
      </select>
</div>
