<script src="https://cdn.auth0.com/js/lock-8.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="styles/logInstylesheet.css" media="screen" title="no title">
<div ng-controller='logInController'>
<div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <button class="btn btn-lg btn-primary btn-block" ng-click="logIn()" type="submit">Sign in</button>
          <button class="btn btn-lg btn-primary btn-block" ng-click="logOut()" type="submit">Sign out</button>
      </form>
    </div>
    </div>
